:root {
  --text-color: #fff;
  --bg-color: #1b1f24;
  --bg-color-mobile: #ebebeb;

  --second-bg-color: #22282;
  --main-color: #13bbff;
  --other-color: #c3cad5;

  --h1-font: 4.5rem;
  --h2-font: 2.9rem;
  --h3-font: 1.6rem;
  --p-font: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  color: var(--text-color);
  background: var(--bg-color);
  overflow: hidden;
}

@media (max-width: 1200px) {
  body,
  html {
    overflow-y: auto;
  }

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    padding-left: 20px;
  }

  .menu-icons {
    display: inline-block;
  }

  nav {
    display: none;
  }

  .header__menu {
    background: var(--bg-color);
    color: var(--main-color);
    border: none;
    border-radius: none;
  }

  nav.menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var (--bg-color);
    transition: all 0.5 ease;
  }

  nav ul {
    align-items: center;
    flex-direction: column;
    row-gap: 30px;

    background: var(--bg-color);
  }

  .main__profile {
    flex-direction: column;
  }

  .profile__info h2 {
    margin: 10px 0 10px;
    font-size: var (--h2-font);
    width: 400px;
  }

  .profile__info h3 {
    margin: 10px 0 10px;
    font-size: var (--h3-font);
    width: 400px;
  }

  .profile__info p {
    font-size: var(--p-font);
    font-weight: 400;
    width: 400px;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
  }
}

@media (max-width: 768px) {
  header {
    display: inline-block;
    justify-content: start;
    padding: 20px 5%;
  }

  .header__logo {
    justify-content: start;
  }

  /* nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: coLumn;
    background: var (--bg-color);
    transition: all 0.5 ease;
    border: none;
  } */

  /* nav.menu {
    display: flex;
    position: absolute;
    
    flex-direction: column;
    border: none;
    z-index: 1000;
  } */

  /* nav ul {
    align-items: center;
    flex-direction: column;
    row-gap: 30px;

    background: var(--bg-color);
  } */

  .header__item:nth-child(5) {
    display: flex;
  }

  .contact {
    display: none;
  }

  .main__profile {
    flex-direction: column;
  }

  .profile__info h2 {
    margin: 10px 0 10px;
    font-size: var (--h2-font);
    width: 400px;
  }

  .profile__info h3 {
    margin: 10px 0 10px;
    font-size: var (--h3-font);
    width: 400px;
  }

  .profile__info p {
    font-size: var(--p-font);
    font-weight: 400;
    width: 400px;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
  }
}
